
.TasksContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
  
}

.NotStartedContainer {
    display: flex;
    justify-content:space-around;
    align-items: flex-start;
}

.NotStartedContainer h2 {
    margin: 0;
}

.TaskButton {
    font-size: 2em;
    font-weight: bold;
    border: none;
    padding: 0;
    width: 1.5em;
    height: 1.5em;
    background-color: #16171d;
    color: whitesmoke;
}

.IndividualTaskContainer {
    border: solid #6C63A8 10px;
    border-radius: 10px;
    padding: 20px;
    min-height: 50vh;
    min-width: 15vw;
    max-width: 20vw;
    background-color: #403676;
}

.AddTaskContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 40%;
    min-height: 40%;
    border: solid #6C63A8 10px;
    border-radius: 10px;
    background-color: #403676;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.AddTaskContainer form { 
    display: contents;
 

}

.AddTaskTitleClose {
    display: flex;
    justify-content: center;
    align-items: center;
}

.AddTaskTitleClose button {
    position: absolute;
    right: 10%;
}

.ExitButton {
    padding: 5px 10px;
}
