
.TasksContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
   
}

.NotStartedContainer {
    display: flex;
    justify-content:space-around;
    align-items: flex-start;
}

.NotStartedContainer h2 {
    margin: 0;
}

.TaskButton {
    font-size: 2em;
    font-weight: bold;
    border: none;
    padding: 0;
    width: 1.5em;
    height: 1.5em;
    background-color: #16171d;
    color: whitesmoke;
}

.IndividualTaskContainer {
    border: solid #6C63A8 10px;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    height: 500px;
    background-color: #403676;
    display:grid;
    grid-template-rows: .2fr 1fr;
    margin:20px;

   
}

.AddTaskContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 40%;
    min-height: 40%;
    border: solid #6C63A8 10px;
    border-radius: 10px;
    background-color: #403676;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.AddTaskContainer form { 
    display: contents;
 

}

.AddTaskTitleClose {
    display: flex;
    justify-content: center;
    align-items: center;
}

.AddTaskTitleClose button {
    position: absolute;
    right: 10%;
}

.ExitButton {
    padding: 5px 10px;
}

.IndividualTasks{
    display:grid;
    grid-template-columns: 2fr .5fr .5fr;
    text-align:start;
    align-items:center;
    max-width:90%;
    margin-left:auto;
}

.IndividualTasks button{
    padding: 5px 10px;
    margin: 5px;
    font-size: 20px;
    
}